<h2>Login</h2>
<form>
    <label for="email" class="form-label">Email: </label>
    <input v-model="email" type="email" class="form-control" id="email">

    <label for="password" class="form-label">Password: </label>
    <input v-model="password" type="password" class="form-control" id="password">

    <div class="center" id="alert">
        Invalid email or password.
    </div>

    <div class="center">
        <input type="submit" value="Log in" class="btn btn-primary submitButton">
    </div>
    <div class="center">
        <a href="#form-registration" id="register-link">Register</a>
    </div>
</form>
