@import './base.css';
@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import './global.css';

h1 {
  text-align: center;
  font-family: Quicksand;
  font-weight: 800;
  margin: 0;
}

header {
  background-color: var(--bg-dark-green);
  height: 10vh;
  padding: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  background-color: var(--bg-medium-green);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logout-button:hover {
  background-color: var(--bg-darker-green);
  color: white;
}


#timetable {
  width: 100%;
  border-collapse: collapse;
}

#timetable th {
  background-color: #eee;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

tbody {
  text-align: center;
}

#timetable td {
  padding: 10px;
  border: 1px solid #ccc;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

td.empty {
  background-color: #ffffff;
}

td.non-empty {
  background-color: #b6fcd9;
}

td.non-empty:hover {
  cursor: pointer;
  background-color: #86fdc2;
}

.lesson-name {
  font-weight: bold;
}

.lesson-classroom {
  font-size: 0.8em;
  color: #666;
}

.lesson-note {
  display: none;
  position: absolute;
  background-color: yellow;
  padding: 10px;
  z-index: 1;
}

td.non-empty:hover .lesson-note {
  display: block;
}

td:first-child {
  font-weight: bold;
  background-color: #d1ffe8;
}

.plusButton {
  opacity: 0;
  transition: opacity 0.3s;
  background-color: transparent;
  color: rgb(180, 180, 180);
  border-radius: 50%;
  border: none;
  font-size: 20px;
}

td.empty:hover>.plusButton {
  opacity: 1;
}

td.empty:hover {
  cursor: pointer;
}